.header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 6rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 1rem;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: center; /* 中央寄せ */
  margin: 0;
  padding: 0;
}

.navItem {
  margin: 0 25px; /* ナビゲーションアイテム間のスペースを広げる */
  color: white;
  text-decoration: none;
  font-size: 20px; /* 文字サイズを大きく */
  font-weight: bold; /* 文字を太くして目立たせる */
}

.navItem:hover {
  text-decoration: underline;
}
